<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application.html}">

<head>
  <title>Show article</title>
</head>
<section layout:fragment="content">
  <!-- BEGIN -->
  <table class="table">
    <thead>
    <th>ID</th>
    <th>Название</th>
    </thead>
    <tbody>
    // Вывод результата в цикле
    <tr th:each="post : ${post}" th:object="${post}">
      <td th:text="*{id}"></td>
      <td>
        <a th:text="*{title}" th:href="@{/companies/{id}(id=*{id})}"></a>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- END -->
</section>
